spring:
  #Database
  h2:
    console:
      enabled: true
      path: /h2
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/stackoverflow
    username: root
    password: ${mysql-password}
#    url: jdbc:h2:mem:test
  jpa:
#    generate-ddl: true
    hibernate:
      ddl-auto: update  # (1) ??? ?? ?? update였는데 이유가 있는지?
    show-sql: true  # (2) SQL ?? ??
    properties:
      hibernate:
        format_sql: true  # (3) SQL pretty print
  sql:



logging:
  level:
    org:
      springframework:
        orm:
          jpa: DEBUG

# Security ??
jwt:
  secret-key: ${jwt-secret}
  access-token-expiration-minutes: 1
  refresh-token-expiration-minutes: 360

# Test
mail:
  address:
    admin: admin@gmail.com
